{% extends '::base.html.twig' %}
{% block body %}
    <h1>Creer un evenement</h1>
    <form action="{{path('ephemit_evenement_creer')}}" method="post" id="formEvent">
        {{form_rest(formEvent)}}
        <input type="submit" value="Envoyer">
    </form>
{% endblock %}