{% extends '::base.html.twig' %}
{% block body %}
    {% if protect %}
        <h1>cette page est protegee</h1>
        
    {% else %}
        <h1>{{page.nom}}</h1>

        <div>{{page.description}}</div>
        <div>{{page.lieu}}</div>
        <div>{{page.date|date('d/m/Y')}}</div>
    {% endif %}
{% endblock %}