<h1>Supprimer cet evenement ?</h1>
<form action="#" method="post" id="formSupprimer">
    <input type="hidden" id="valeurSuppr" value="{{event.id}}">
    <input type="submit" value="Confirmer" id="submitSuppr">
</form>
<div id="retour"></div>

<script>
    $('#formSupprimer').submit(function(){
        $.ajax({
                type: "POST",
                dataType: "json",
                url: Routing.generate('ephemit_evenement_supprimer', {id:{{event.id}}}),
                data:$('#formSupprimer').serialize(),
                success: function(data)
                {
                    $('#formSupprimer').css('display', 'none');
                    $('#retour').html('Evenement supprime !');
                    
                }
        });
        return false;
    });
</script>